.container {
  display: flex;
  flex-direction: column;
  font-family: Abel, serif;

  .education {
    font-family: Abel, serif;
    margin: 10px 0 10px;
    color: palevioletred;
    font-weight: bolder;
  }

  .degree {
    font-family: Abel, serif;
    margin: 0;
  }
}

