.workExperience {
  //background-color: red;


  .date {
    margin-bottom: 0;
    font-size: 14px;
  }

  .position {
    margin-top: 0px;
    margin-bottom: 7px;
    display: flex;
  }

  .company {
    font-size: 17px;
    margin-top: 0px;
    font-weight: 400;
  }
}
