.job {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .position, .companyName, .duration {
    margin: 0;
    line-height: 1.4;
    font-family: Abel, serif;
  }

  .position {
    font-weight: bold;
  }

  .companyName {
    font-weight: normal;
  }

  .companyName {
    text-transform: uppercase;
  }

  .duration {
    font-style: italic;
  }
}
