.profile {
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  //background-color: blueviolet;
  max-width: 350px;

  .profileImage {
    height: 200px;
    display: flex;
    width: 200px;
    margin: 60px;
  }

  .profileName {
    margin: 0px;
    justify-content: center;
    font-size: 24px;
    display: flex;
  }
  .profilePosition {
    font-size: 17px;
    justify-content: center;
    margin: 0px;
    display: flex;
  }

  .profileObjective {
    padding: 30px;
  }


  .bar {
    border-top: 3px solid black;
    width: 100%;
  }

  .icon {
    font-size: 20px;
    margin-right: 10px;
    color: black;
  }
}
