.contactBody {
  margin: auto;
  width: 100%;
  height: 100%;
  align-items:  center;
  padding-top: 2em;
  display: flex;
}

.contactGrid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background-color: white;
  color: black;
  margin-bottom: 20px;
}

.contactImage {
  height: 250px;

}

.contactInfo {
  width: 75%;
  margin: auto;
  padding-top: 1em;

}

.contactName {
  font-family: "Anton", sans-serif;
  font-size: 28px;

}

.contactGridRight {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contactIcon i  {
  font-size: 25px;
  padding-right: 5rem;
}
