.container {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  padding-right: 200px;

  @media only screen and (max-width: 415px) {
    padding-right: 0;
  }

  .experience {
    font-family: Abel, serif;
    color: palevioletred;
    font-weight: bolder;
  }
}
