.app {
  height: 100%;
  width: 100%;
  margin: auto;

  .header {
    display: flex;
    background-color: rgb(70, 70, 85);
    box-shadow: none;

    @media only screen and (max-width: 415px) {
      display: none;
    }

    .container {
      margin: auto;
    }
  }
}
